<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="off"
      internalLogFile="internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <variable name ="timestamp" value ="${longdate}" />
    <variable name ="level" value ="${level:upperCase=true}" />
    <variable name ="traceId" value ="${aspnet-traceidentifier}" />
    <variable name ="apiRequestUrl" value ="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" />
    <variable name ="userName" value ="${e2e-user-identity}" />
    <variable name ="environment" value ="${aspnet-environment}" />
    <variable name ="logMessage" value ="${message}" />
    <variable name ="exceptionMessage" value ="${exception:format=ToString}" />
    <variable name ="serviceName" value ="Test Engine Service" />

    <targets>
        <target xsi:type="Console"
                name="consoleLogger"
                layout="${timestamp} ${level} ${traceId} ${apiRequestUrl} ${userName} ${environment} ${serviceName} ${logMessage} ${exceptionMessage} ${newline}">
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="consoleLogger" >
            <filters defaultAction="Log">
                <when condition="contains('${apiRequestUrl}', 'readiness') or contains('${apiRequestUrl}', 'healtz')" action="Ignore" />
                <!-- "Ignore readiness and healtz endpoint" -->
            </filters>
        </logger>
    </rules>
</nlog>